{
  "extends": ["oclif", "oclif-typescript", "prettier"],
  "rules": {
    "no-await-in-loop": "off",
    "no-constant-condition": "off",
    "valid-jsdoc": "off",
    "padding-line-between-statements": "off",
    "unicorn/import-style": "off",
    "no-useless-constructor": "off",
    "unicorn/filename-case": "off",
    "no-return-await": "off"
  }
}
