{
  "extends": ["eslint:recommended", "oclif", "oclif-typescript", "prettier"],
  "rules": {
    "no-trailing-spaces": "off",
    "indent": "off",
    "no-await-in-loop": "off",
    "@typescript-eslint/member-delimiter-style": "off"
  }
}
